:root {
  --strong-cyan: hsl(171, 66%, 44%);
  --strong-cyan-shadow: hsl(171, 66%, 34%);
  --light-blue: hsl(233, 100%, 69%);
  --light-blue-shadow: hsl(233, 56%, 46%);
  --dark-grayish-blue: hsl(210, 10%, 33%);
  --grayish-blue: hsl(201, 11%, 66%);
  --icon-color: hsl(210, 10%, 33%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
}
